<% include includes/head %>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2 red lighten-2 white-text center-align z-depth-5">
                <h5>
                    <%= pageTitle %>
                </h5>
            </div>
        </div>
        <div class="section"></div>
        <div class="row ">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= image %>" alt="">
                        <span class="card-title black-text">Great To Do App</span>
                        <a href="/feed" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>

                    </div>
                    <div class="card-content" style="text-align:center;">
                        <div class="section"></div>
                        <p>
                            Have a busy schedule? Need a way to keep track of errands, Schedule Daily Routinues?
                        </p>
                        <div class="section"></div>
                        <p>
                            Then this app is perfect for you! <br> Quickly and easily add things to do to your list. <br> Mark them complete when Finished.<br> Remove them when no longer needed. <br> Simple as that.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include includes/foot %>